flows_raspberrypi.json
[
    {
        "id": "49ede7b4.4b2d88",
        "type": "tab",
        "label": "SYSTEM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a92841c.8244cc",
        "type": "tab",
        "label": "UPDATE MANAGER",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d57e2c44.f0d87",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#f84018",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#f5560a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#f5560a",
                    "value": "#f5560a",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#f5560a",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#f5560a",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#f5560a",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#f5560a",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "APTIV - PDC",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 8,
                "gy": 8,
                "cx": 6,
                "cy": 6,
                "px": 10,
                "py": 10
            }
        }
    },
    {
        "id": "de1dbd4.c75af4",
        "type": "ui_group",
        "name": "Output_33",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d15f161a.08efc8",
        "type": "ui_group",
        "name": "Output_28",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c6e53965.643b98",
        "type": "ui_group",
        "name": "Output 29",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9ba82171.9f1a3",
        "type": "ui_group",
        "d": true,
        "name": "Output 30",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "cbef5dc3.befb3",
        "type": "ui_group",
        "d": true,
        "name": "Temperature",
        "tab": "",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6041b0e7.fbbb9",
        "type": "ui_group",
        "name": "logo",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "225152e5.7717ae",
        "type": "ui_group",
        "d": true,
        "name": "Output 31",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f99a54e4.6168b8",
        "type": "ui_group",
        "d": true,
        "name": "Output 32",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "ea1a143e.f38088",
        "type": "ui_group",
        "d": true,
        "name": "Output 33",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "416175f4.3683ec",
        "type": "ui_group",
        "d": true,
        "name": "Output 34",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f46c6af0.ec9c48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d140fd5f.a938f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1e6b9bc2.ee10a4",
        "type": "ui_group",
        "name": "E Fuse 6",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e77e444d.395ba8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c6e53965.643b98",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e8602718.0fa588",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c6e53965.643b98",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "e78bb5d1.4416b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c6e53965.643b98",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "798872ed.4e474c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9ba82171.9f1a3",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "84d47836.2b0ba8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9ba82171.9f1a3",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "613ab939.6c6018",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "225152e5.7717ae",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "755be121.f549a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "225152e5.7717ae",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "419abcac.b64274",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f99a54e4.6168b8",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "660f12a6.369b9c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f99a54e4.6168b8",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "a5a91304.d3b4a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea1a143e.f38088",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "6a882f52.f215e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea1a143e.f38088",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "b90348ec.8b2318",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "416175f4.3683ec",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "d08e6e06.3a323",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "416175f4.3683ec",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "77c1f4c.f2ef40c",
        "type": "ui_tab",
        "name": "SYSTEM",
        "icon": "mi-settings",
        "order": 13,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5159aeda.1fd78",
        "type": "ui_group",
        "name": "POWER",
        "tab": "77c1f4c.f2ef40c",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "e4a8c1e6.d3717",
        "type": "ui_group",
        "name": "State",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "fac9722d.3365f",
        "type": "ui_group",
        "d": true,
        "name": "Output_10",
        "tab": "",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e87b1611.782c98",
        "type": "ui_group",
        "name": "Traffic test",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "17",
        "collapse": false
    },
    {
        "id": "23013d5a.f0dca2",
        "type": "ui_tab",
        "name": "DASHBOARD UPDATER",
        "icon": "mi-file_download",
        "order": 12,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc5b6f65.657e5",
        "type": "ui_group",
        "name": "Update manager",
        "tab": "23013d5a.f0dca2",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": true
    },
    {
        "id": "be14e9de.53efc8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": "32",
        "height": 1
    },
    {
        "id": "afb66c6.cca089",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e87b1611.782c98",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "51a0867c.be92b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e87b1611.782c98",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ae50983.e2a3f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e87b1611.782c98",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "6f2a2e1a.1dcca",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e87b1611.782c98",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "16302ec1.6c81c1",
        "type": "ui_group",
        "name": "Changelog",
        "tab": "23013d5a.f0dca2",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": true
    },
    {
        "id": "8be25437.22e6e8",
        "type": "ui_group",
        "name": "Info",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "3e9f4aa4.8e7d56",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8be25437.22e6e8",
        "order": 3,
        "width": 23,
        "height": 1
    },
    {
        "id": "5ff1152b.78f9dc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8be25437.22e6e8",
        "order": 4,
        "width": 30,
        "height": 1
    },
    {
        "id": "d0da990f.2b5ba8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4efd4665.343168",
        "order": 4,
        "width": "3",
        "height": "20"
    },
    {
        "id": "6fd8f39b.7c0dcc",
        "type": "ui_group",
        "name": "Sleep",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "25",
        "collapse": false
    },
    {
        "id": "abc15472.b41c28",
        "type": "ui_group",
        "name": "State",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "41ccc82e.f12df8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "a4f70a49.9fdc28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "248bf184.3bf6ae",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "a9da5253.a3f9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b6ed34d.52fd5c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8d25675.145a18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e7fd41b.e7b1c8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f8662f2.f8616c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b4ef1d6.4300ae",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7687127.5a486",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e656165.08aa1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "5573d999.a796a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "32af8c34.3f9314",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "ab162199.e9798",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 25,
        "width": 8,
        "height": 1
    },
    {
        "id": "f4f494da.a5f668",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 27,
        "width": 4,
        "height": 1
    },
    {
        "id": "9151d99d.d53448",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c285e53.ce1b6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "c0cf983b.ac1318",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "36482976.290a86",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b7d573c.89bd18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0fa3dfb.fde02",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcf1f26e.f1089",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dce3dda.1d6512",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "215db13f.277b2e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "34855c30.466874",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "6f5aeaf5.94bf14",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a1f3604.273b18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c789013.3e341",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ea80f719.e44368",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "119ef58f.bc548a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d20bd4d.2063e4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d012004.319bf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ba7eeb7.c15",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6041b0e7.fbbb9",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "119fb82f.614bf8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e4a8c1e6.d3717",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2cce62ee.bf646e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e4a8c1e6.d3717",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "71e57c99.f78c74",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e4a8c1e6.d3717",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "8c74c1a3.336df",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e4a8c1e6.d3717",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d998a648.393288",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1e6b9bc2.ee10a4",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "9a58879f.cf3cd8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "de1dbd4.c75af4",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "99b0bbb5.47c688",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d15f161a.08efc8",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "f35925e1.6ed708",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cbef5dc3.befb3",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "d4e5eb7c.439ad8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cbef5dc3.befb3",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "d245e5ec.202b48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cbef5dc3.befb3",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "b02c356d.6844f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cbef5dc3.befb3",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "3855c0b5.3fec9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fac9722d.3365f",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "9115811d.f5d56",
        "type": "ui_group",
        "name": "Out command pannel",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "65bddedc.1a43f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9115811d.f5d56",
        "order": 69,
        "width": 6,
        "height": 1
    },
    {
        "id": "5bc68add.c61614",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9115811d.f5d56",
        "order": 78,
        "width": 6,
        "height": 1
    },
    {
        "id": "e4447fb4.9a24b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9115811d.f5d56",
        "order": 87,
        "width": 6,
        "height": 1
    },
    {
        "id": "496f5bee.927394",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9115811d.f5d56",
        "order": 96,
        "width": 6,
        "height": 1
    },
    {
        "id": "ece6a6dc.52e5e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c54badb.3b1095",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "9b4438f8.516518",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b9f6085e.138da8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5af242f1.25d40c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "14fc9ff0.dc4d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e5f42958.0fb268",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b49bdf5.779e22",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "79688b30.316914",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "42fb0ed.194ebf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "104cbcdb.0726b3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "ea2b97fc.a6f858",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "4498877e.bb0a18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "565825f2.806c4c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "39482257.d7cb2e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "abc15472.b41c28",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "80fd17e0.5952d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1daab949.21f5b7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "434ea2d6.129f4c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f75382ec.cefe7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "c02296e8.bfb728",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "15b5fa46.743596",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6d178c6.d62bc8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6fd8f39b.7c0dcc",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "d035d56b.7b2268",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f5b10b1.a2d4e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d498505.40c56b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "f530734e.506f7",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "dec31e4d.9664e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5c1f3bc.6f54f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e114a0a.f95336",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f14d14a.08f56",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "d13de900.9f77c8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5159aeda.1fd78",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "65ba644e.f078fc",
        "type": "ui_button",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "group": "5159aeda.1fd78",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "SYSTEM OFF",
        "tooltip": "",
        "color": "WHITE",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"size\":2,\"x\":1,\"y\":1,\"text\":\"SYSTEM OFF\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "52916a4f.cea6c4",
                "ee88e080.647bf"
            ]
        ]
    },
    {
        "id": "3fbedae0.c1a046",
        "type": "shutdown",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "52916a4f.cea6c4",
        "type": "delay",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "3fbedae0.c1a046"
            ]
        ]
    },
    {
        "id": "fc305fc8.402ee",
        "type": "inject",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "ee88e080.647bf"
            ]
        ]
    },
    {
        "id": "ee88e080.647bf",
        "type": "exec",
        "z": "49ede7b4.4b2d88",
        "command": "sudo killall python3",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c73c2f9f.4f291",
        "type": "ui_button",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "group": "5159aeda.1fd78",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "REBOOT",
        "tooltip": "",
        "color": "WHITE",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"size\":2,\"x\":1,\"y\":1,\"text\":\"SYSTEM OFF\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "65bd543d.d7e96c"
            ]
        ]
    },
    {
        "id": "65bd543d.d7e96c",
        "type": "restart",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "913736b2.79cb58",
        "type": "exec",
        "z": "49ede7b4.4b2d88",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "14796a95.de7715",
        "type": "ui_button",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "group": "5159aeda.1fd78",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "ERASE ALL ",
        "tooltip": "",
        "color": "WHITE",
        "bgcolor": "",
        "icon": "",
        "payload": "Password :",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "cee713ed.af27"
            ]
        ]
    },
    {
        "id": "cee713ed.af27",
        "type": "ui_toast",
        "z": "49ede7b4.4b2d88",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "topic": "Confirm Erase all",
        "name": "Erase",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "4a7dd6ab.f39728"
            ]
        ]
    },
    {
        "id": "3dc5a779.a351a8",
        "type": "ui_template",
        "z": "49ede7b4.4b2d88",
        "group": "5159aeda.1fd78",
        "name": "Change the dashboard style (rounded corners)",
        "order": 17,
        "width": 0,
        "height": 0,
        "format": "<style>\n/*Change button corner radius (rounded corners)*/\n.md-button{             \n    border-radius: 6px\n}\n\n/*Change card tiles radius (rounded corners)*/\n.nr-dashboard-theme ui-card-panel {\n    border-radius: 6px;\n}\n\n/*Change style atributes of tile titles (rounded corners)*/\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle{\n    font-size:20px;\n    font-weight:bold;\n}\n\n::-webkit-scrollbar {\n  width: 10px;\n}\n\n/* Track */\n::-webkit-scrollbar-track {\n  background: #333333;\n}\n \n/* Handle */\n::-webkit-scrollbar-thumb {\n  background: #F5560A;\n  border-radius:10px;\n}\n\n/* Handle on hover */\n::-webkit-scrollbar-thumb:hover {\n  background: #af560a;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4a7dd6ab.f39728",
        "type": "function",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "func": "var command = {}\n\nif(msg.payload === \"Aptiv\")\n{\n    command.payload = \"./erase.sh\"\n    return [command, null];\n}\nelse\n{\n    command.payload = \"Wrong password\"\n    return [null, command];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            [
                "913736b2.79cb58"
            ],
            [
                "578a3a1.9c9a3c4"
            ]
        ]
    },
    {
        "id": "578a3a1.9c9a3c4",
        "type": "ui_toast",
        "z": "49ede7b4.4b2d88",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "f0c72df9.ae28b",
        "type": "ui_button",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "group": "5159aeda.1fd78",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Restore before update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Be sure to make a backup",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "a0982bb.ed448d8"
            ]
        ]
    },
    {
        "id": "fb449a6b.f32c68",
        "type": "exec",
        "z": "49ede7b4.4b2d88",
        "command": "./restore.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a0982bb.ed448d8",
        "type": "ui_toast",
        "z": "49ede7b4.4b2d88",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "topic": "Do you want to restore to version before update ?",
        "name": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "ed1fad17.2ba04"
            ]
        ]
    },
    {
        "id": "ed1fad17.2ba04",
        "type": "switch",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "fb449a6b.f32c68"
            ],
            []
        ]
    },
    {
        "id": "d7586779.adc5c8",
        "type": "ui_text",
        "z": "49ede7b4.4b2d88",
        "group": "5159aeda.1fd78",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Global Version",
        "label": "Dashboard version :",
        "format": "{{msg.payload.VERSION}}",
        "layout": "row-center",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "58bd3035.e55a9",
        "type": "inject",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "SW_VERSION",
        "payloadType": "global",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "d7586779.adc5c8"
            ]
        ]
    },
    {
        "id": "35fbf57d.74f78a",
        "type": "ui_button",
        "z": "49ede7b4.4b2d88",
        "name": "",
        "group": "5159aeda.1fd78",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Restart Node-RED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "68ec6f65.34a07"
            ]
        ]
    },
    {
        "id": "68ec6f65.34a07",
        "type": "exec",
        "z": "49ede7b4.4b2d88",
        "command": "node-red-restart",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 350,
        "y": 600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8aa76d04.22a75",
        "type": "http request",
        "z": "4a92841c.8244cc",
        "name": "Fetch releases",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 880,
        "y": 300,
        "wires": [
            [
                "dbeaa16a.2ecc3"
            ]
        ]
    },
    {
        "id": "e448a049.160a3",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Set request flag for github",
        "func": "var product = RED.util.cloneMessage(flow.get('Product'));\n\nmsg.headers = {};\nmsg.headers['User-Agent'] = 'request';\nmsg.url = \"https://api.github.com/repos/guillaumetournabien/\" + product + \"/releases\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 300,
        "wires": [
            [
                "8aa76d04.22a75"
            ]
        ]
    },
    {
        "id": "dbeaa16a.2ecc3",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Extract Version, Changes, Date and URL",
        "func": "var updates = {};\nupdates.payload = [];\n\nmsg.payload.forEach(function(item,index){\n    updates.payload[index] = {\"Version\":item.tag_name, \"Changes\":item.body, \"Published_Date\":item.published_at, \"URL_Download\":item.zipball_url};\n    updates.payload[index].Published_Date = updates.payload[index].Published_Date.slice(0,10);\n    updates.payload[index].Changes = updates.payload[index].Changes.split('*');\n    updates.payload[index].Changes.shift();\n});\n\nflow.set('Updates',updates.payload);\n\nreturn updates;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "14921650.ea3bea",
                "14bc47b4.b2dcb8"
            ]
        ]
    },
    {
        "id": "e887c9ae.632708",
        "type": "ui_button",
        "z": "4a92841c.8244cc",
        "name": "",
        "group": "dc5b6f65.657e5",
        "order": 5,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Check for updates",
        "tooltip": "Check if any update is available, any update will be automatically displayed above, then select the desired version with the dropdown menu.",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "mi-search",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "e448a049.160a3",
                "84240dc7.6d84c",
                "d4aad0f3.14afb"
            ]
        ]
    },
    {
        "id": "14921650.ea3bea",
        "type": "ui_template",
        "z": "4a92841c.8244cc",
        "group": "dc5b6f65.657e5",
        "name": "Widget to display version / Publish date",
        "order": 6,
        "width": 12,
        "height": 7,
        "format": "<html>\n\n<head>\n\n<style>\n\n.flex-container {\n  display: flex;\n  flex-wrap: wrap;\n  padding: 10px;\n}\n\n.flex-item-left {\n  flex: 50%;\n}\n\n.flex-item-right {\n  flex:50%;\n}\n\n</style>\n\n</head>\n\n<body>\n\n<div class=\"flex-container\"> \n    <div class=\"flex-item-left\">\n        <h3 style=\"font-weight: bold\">Available version(s)</h3>\n        <p ng-repeat=\"x in msg.payload\"><a href={{x.URL_Download}} target=\"_blank\" span style=\"color:rgb(246,86,10); font-size:16px\">{{x.Version}}</a></p>\n    </div>\n    \n    <div class=\"flex-item-right\">\n        <h3 style=\"font-weight: bold; text-align: right\">Publish date</h3>\n        <p ng-repeat=\"x in msg.payload\" style=\"text-align: right;\">{{x.Published_Date}}</p>\n    </div>\n</div>\n\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "91dca8dc.0035b8",
        "type": "ui_dropdown",
        "z": "4a92841c.8244cc",
        "name": "",
        "label": "Select a version :",
        "tooltip": "",
        "place": "SELECT A VERSION",
        "group": "dc5b6f65.657e5",
        "order": 7,
        "width": 12,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "80de89e5.7520d8"
            ]
        ]
    },
    {
        "id": "f68042e7.a6fda",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Send avaible update to dropdown menu",
        "func": "\nvar updates = {};\nupdates.payload = RED.util.cloneMessage(flow.get('Updates'));\nupdates.options = [];\n\nupdates.payload.forEach(function(item,index){\n    updates.options[index] = item.Version;\n});\n\nreturn updates;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 400,
        "wires": [
            [
                "91dca8dc.0035b8"
            ]
        ]
    },
    {
        "id": "84240dc7.6d84c",
        "type": "delay",
        "z": "4a92841c.8244cc",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "f68042e7.a6fda"
            ]
        ]
    },
    {
        "id": "80de89e5.7520d8",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Save selected update version",
        "func": "flow.set('Update_Selected',msg.payload);\nmsg.enabled = true;\nmsg.background = \"rgb(245, 86, 10)\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 400,
        "wires": [
            [
                "a4d86340.a0f21"
            ]
        ]
    },
    {
        "id": "a4d86340.a0f21",
        "type": "ui_button",
        "z": "4a92841c.8244cc",
        "name": "",
        "group": "dc5b6f65.657e5",
        "order": 8,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Confirm update",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "icon": "mi-check",
        "payload": "Are you sure you want to update ? This will erase your current flows, be sure to make a backup before",
        "payloadType": "str",
        "topic": "Confirm Update",
        "topicType": "str",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "ccfdcdd2.296ce"
            ]
        ]
    },
    {
        "id": "ccfdcdd2.296ce",
        "type": "ui_toast",
        "z": "4a92841c.8244cc",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "topic": "",
        "name": "Confirm",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "d537df7a.4f53b"
            ]
        ]
    },
    {
        "id": "d537df7a.4f53b",
        "type": "switch",
        "z": "4a92841c.8244cc",
        "name": "If yes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "ad408bf3.4119b8"
            ]
        ]
    },
    {
        "id": "eb118be5.cc19a8",
        "type": "ui_text",
        "z": "4a92841c.8244cc",
        "group": "dc5b6f65.657e5",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Current dashboard version : ",
        "format": "{{msg.payload.VERSION}}",
        "layout": "row-right",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "bf260702.417358",
        "type": "inject",
        "z": "4a92841c.8244cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SW_VERSION",
        "payloadType": "global",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "eb118be5.cc19a8"
            ]
        ]
    },
    {
        "id": "ad408bf3.4119b8",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Arguments for the WGET command to get the selected version",
        "func": "\nvar selected = RED.util.cloneMessage(flow.get('Update_Selected'));\nvar updates = {};\nupdates.payload = RED.util.cloneMessage(flow.get('Updates'));\n\nvar index = updates.payload.findIndex(x => x.Version === selected);\n\nmsg.payload = \"-O \" + selected + ' ' + updates.payload[index].URL_Download;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "8c2c0f3d.08e99"
            ]
        ]
    },
    {
        "id": "8c2c0f3d.08e99",
        "type": "exec",
        "z": "4a92841c.8244cc",
        "command": "wget",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "Fetch selected version",
        "x": 440,
        "y": 580,
        "wires": [
            [],
            [],
            [
                "62e1e487.b7ffcc"
            ]
        ]
    },
    {
        "id": "62e1e487.b7ffcc",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Unzip command arguments",
        "func": "msg.payload = \"-o \" + RED.util.cloneMessage(flow.get('Update_Selected')) + \" -d ~/Releases\";\n// Arguments for the unzip command\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 660,
        "wires": [
            [
                "7f59eb23.a995d4"
            ]
        ]
    },
    {
        "id": "7f59eb23.a995d4",
        "type": "exec",
        "z": "4a92841c.8244cc",
        "command": "unzip",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 660,
        "wires": [
            [
                "7d98e2c0.c42e5c"
            ],
            [],
            []
        ]
    },
    {
        "id": "7d98e2c0.c42e5c",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Bakcup current flow (in case) and copy the new version",
        "func": "msg.payload = msg.payload.split(\"inflating: \");     // Get path of .json flow\nmsg.payload[1] = msg.payload[1].replace(/\\s/g, ''); // Remove whitespaces\n\nvar backup = {};\nbackup.payload = \"./backup.sh\" // Command to execute for the backup (run a script on the rpi)\n\nvar update = {};\nupdate.payload = \"-f \" + msg.payload[1] + \" ~/.node-red\"; // Arguments for the CP command \n\nreturn [backup,update];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 580,
        "wires": [
            [
                "d15167a7.4f8d08"
            ],
            [
                "f8c9bea8.08117"
            ]
        ]
    },
    {
        "id": "d15167a7.4f8d08",
        "type": "exec",
        "z": "4a92841c.8244cc",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Backup Current flow",
        "x": 1180,
        "y": 560,
        "wires": [
            [
                "99ef38b0.c991e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "f8c9bea8.08117",
        "type": "delay",
        "z": "4a92841c.8244cc",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 890,
        "y": 660,
        "wires": [
            [
                "c10bc7d1.650888"
            ]
        ]
    },
    {
        "id": "c10bc7d1.650888",
        "type": "exec",
        "z": "4a92841c.8244cc",
        "command": "cp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Copy new version",
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "43e150f5.02896"
            ],
            [],
            []
        ]
    },
    {
        "id": "43e150f5.02896",
        "type": "exec",
        "z": "4a92841c.8244cc",
        "command": "node-red-restart",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Restart node red to apply changes",
        "x": 1360,
        "y": 660,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "14bc47b4.b2dcb8",
        "type": "ui_template",
        "z": "4a92841c.8244cc",
        "group": "16302ec1.6c81c1",
        "name": "Changelog widget",
        "order": 1,
        "width": 12,
        "height": 12,
        "format": "<html>\n\n<head>\n\n<style>\n\n.vers{\n    font-size: 30px;\n    font-weight:bold;\n    border-left: 6px solid white;\n    border-right: 6px solid white;\n    border-radius: 4px;\n    padding-left:15px;\n    padding-right:15px;\n    text-align:center;\n    background-color:rgba(85, 85, 85, 0.7);\n\n}\n\nli{\n    font-size: 20px;\n}\n\n</style>\n\n</head>\n\n<body>\n\n<div ng-repeat=\"x in msg.payload\">\n    <div>\n        <div class=\"vers\">{{x.Version}}</div>\n    </div>\n\n    <div>\n        <ul> <!-- List that loops though the changes to display them -->\n            <li ng-repeat=\"c in x.Changes\">{{c}}</li>\n        </ul>\n    </div>\n</div>\n\n</body>\n\n</html>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dcfbf476.0fcde8",
        "type": "ui_ui_control",
        "z": "4a92841c.8244cc",
        "name": "Hide Changelog",
        "events": "all",
        "x": 280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3ab591.fa89ca7",
        "type": "inject",
        "z": "4a92841c.8244cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"UPDATE_MANAGER_Changelog\"]}}",
        "payloadType": "json",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "dcfbf476.0fcde8"
            ]
        ]
    },
    {
        "id": "ade49ee2.9d7e2",
        "type": "ui_ui_control",
        "z": "4a92841c.8244cc",
        "name": "Show Changelog",
        "events": "all",
        "x": 830,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d4aad0f3.14afb",
        "type": "change",
        "z": "4a92841c.8244cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"UPDATE_MANAGER_Changelog\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "ade49ee2.9d7e2"
            ]
        ]
    },
    {
        "id": "70ec1413.d3e10c",
        "type": "catch",
        "z": "4a92841c.8244cc",
        "name": "",
        "scope": [
            "dbeaa16a.2ecc3"
        ],
        "uncaught": false,
        "x": 730,
        "y": 40,
        "wires": [
            [
                "440ce320.28689c"
            ]
        ]
    },
    {
        "id": "bb56a83e.652718",
        "type": "ui_toast",
        "z": "4a92841c.8244cc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1210,
        "y": 40,
        "wires": []
    },
    {
        "id": "440ce320.28689c",
        "type": "change",
        "z": "4a92841c.8244cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Error while fetching updates, check if your RPi is connected to internet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 40,
        "wires": [
            [
                "bb56a83e.652718"
            ]
        ]
    },
    {
        "id": "3a0f8b8b.716e94",
        "type": "ui_dropdown",
        "z": "4a92841c.8244cc",
        "name": "Select a product",
        "label": "Select a product :",
        "tooltip": "",
        "place": "PLEASE SELECT A PRODUCT",
        "group": "dc5b6f65.657e5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Factory",
                "value": "kiosk_default",
                "type": "str"
            },
            {
                "label": "GCP",
                "value": "kiosk_gcp",
                "type": "str"
            },
            {
                "label": "PBM",
                "value": "kiosk_pbm",
                "type": "str"
            },
            {
                "label": "RPi",
                "value": "kiosk_rpi",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "d9752abc.f658f8"
            ]
        ]
    },
    {
        "id": "bd1d0586.7f8728",
        "type": "inject",
        "z": "4a92841c.8244cc",
        "name": "",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "background",
                "v": "transparent",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "e887c9ae.632708"
            ]
        ]
    },
    {
        "id": "d9752abc.f658f8",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "",
        "func": "msg.enabled = true;\nmsg.background = \"rgb(245, 86, 10)\";\nflow.set('Product', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "e887c9ae.632708"
            ]
        ]
    },
    {
        "id": "3b36bafd.c5e626",
        "type": "inject",
        "z": "4a92841c.8244cc",
        "name": "",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "background",
                "v": "transparent",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "a4d86340.a0f21"
            ]
        ]
    },
    {
        "id": "682d6da8.cf0b84",
        "type": "inject",
        "z": "4a92841c.8244cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "PRODUCT_INFO.PRODUCT",
        "payloadType": "global",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "b5c871cd.f155a"
            ]
        ]
    },
    {
        "id": "b5c871cd.f155a",
        "type": "ui_text",
        "z": "4a92841c.8244cc",
        "group": "dc5b6f65.657e5",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Current Product : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "6c4e4163.ea197",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Initialisation Variable",
        "func": "// Declaration of the generic structure\n//\nvar SW_VERSION = {\n        \"NAME\":\"SW_VERSION\",\n        \"VERSION\":\"1.0.3\"\n};\nvar SERIAL_NUMBER = {\n    \"NAME\":\"SERIAL_NUMBER\",\n    \"SERIAL_NUMBER\":\"1\"\n};\n\nvar PRODUCT_INFO_TEMPLATE={\n    \"NAME\":\"PRODUCT_INFO\",\n    \"PRODUCT\":\"Factory\",\n    \"SERIAL_NUMBER\":0,\n    \"ALIVE_COUNTER\":0,\n    \"STATE_MODE\":0,\n    \"SW_VERS_DAY\":0,\n    \"SW_VERS_MONTH\":0,\n    \"SW_VERS_YEAR\":0,\n    \"SW_VERS_MAJOR\":0,\n    \"SW_VERS_MINOR\":0,\n    \"SW_VERS_PATCH\":0\n}\n\nglobal.set('SW_VERSION', SW_VERSION);\nglobal.set('SERIAL_NUMBER', SERIAL_NUMBER);\nglobal.set('PRODUCT_INFO', PRODUCT_INFO_TEMPLATE);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fca2b464.520a88",
        "type": "inject",
        "z": "4a92841c.8244cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "6c4e4163.ea197"
            ]
        ]
    },
    {
        "id": "99ef38b0.c991e8",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "",
        "func": "var vers = RED.util.cloneMessage(flow.get('Update_Selected'));\nvar remove = {};\n\nremove.payload = \"-rf \" + vers;\n\nreturn remove;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 540,
        "wires": [
            [
                "f4c0a7ac.305c08"
            ]
        ]
    },
    {
        "id": "f4c0a7ac.305c08",
        "type": "exec",
        "z": "4a92841c.8244cc",
        "command": "rm",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Delete zip file",
        "x": 1560,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9f1e1fb.3fc78e",
        "type": "ui_template",
        "z": "49ede7b4.4b2d88",
        "group": "5159aeda.1fd78",
        "name": "Logo in toolbar",
        "order": 3,
        "width": 1,
        "height": 1,
        "format": "<script id=\"clockScript1\" type=\"text/javascript\">\n    var flag;\n    $(function () {\n        \n        if(flag) return;\n        \n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAsQAAACHCAMAAAAm2L9aAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAG2UExURQAAAP////Ly8uDg4M/Pz729vaurq5qamoiIiJeXl8zMzMvLy+Xl5aioqJiYmJKSks7OzsrKyunp6ZOTk/T09Lm5ubu7u/z8/O/v74GBgba2tqSkpLq6uv7+/pSUlN/f38bGxqWlpfj4+Nra2omJiYSEhKGhoefn59vb2/39/ZCQkMnJycLCwt3d3cXFxbS0tKCgoIyMjO3t7b6+vo2NjZaWlvHx8bCwsOzs7MjIyNfX14KCgp6entTU1NnZ2bi4uJWVlZubm4CAgPX19fv7+7+/v/b29re3t4ODg52dnYaGhtc3Feo8F/M/GOA6Fubm5sfHx/hAGNjY2KysrPr6+uLi4tM2FOTk5KamptXV1bOzs6qqquY7FuHh4ds4FdDQ0Nw5FeQ7Fq+vr/n5+c3Nzdk4FZGRkeI6Fus9F7GxsfQ/GOc8FuU7Fq6urqKiots5Fampqaenp+4+F7y8vPf398TExI+Pj+Pj4+jo6KOjo7KyssPDw9zc3J+fn9LS0q2trYeHh+vr65ycnNHR0Y6OjpmZmX9/f8HBwcDAwPPz84WFhX5+furq6rW1tdbW1vDw8IuLiwAAAGXg4G0AAACSdFJOU/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AJsmhUgAAAAlwSFlzAAAOwgAADsIBFShKgAAADrZJREFUeF7t3Xm7XEUVhXFJmEVmCBhAQAGZZBAiyhwBmUFEARVRcAAHQBwZHBBnnPKNvcl9Ozlr9z7dp3btUzznSf3+gl5VqymyCZ17u+t+7FDXLVwf4m7x+hB3i9eHuFu8PsTd4vUh7havD3G3eH2Iu8XrQ9wtXh/ibvH6EHeL14e4W7w+xN3i9SHuFq8Pcbd4fYi7xetD3C1eH+Ju8foQd4vXh7hbvD7E3eL1Ie4Wrw9xt3jNh/iErVhYibLt9uw98aSTTzmVbTUoTEBhITYrsjKnsdk4nXgLVhsfJ51BH+KjzvgEW6PoSUBhITYrskJstkg3O5PFxlnEM2g9xGdzpA3OYWkdygqdex7bI+hIQGEhNiuyQuez2yDd7BwWG6RzaD3EnGgjltahq9wFFJSjIAGFhdisyApdyG7jTOKN9rFYXUQ6hz7E6/ZSUYrtCSgsxGZFVuhidhuTXtey1vgk6RwaD/HJHGmj/SyuQlfMJZSUYXMCCguxWZGVYrdxKekml7HWIJ1F4yHmRFuwuApVUbQUYWsCCguxWZGV+hTbDdJNLmepQTqLPsQjAv/7Y2cCCguxWZGVuoLtxoQXxVeyVH2adBZth/gzHGkLVlehKu4qiqZjYwIKC7FZkRVjuzHhK0esNK4mnUXbIb6GI23xWZbXoKoCRdOxLwGFhdisyIqx3biWdNx1rDRI59F2iDnRViyvQVMNmiZjWwIKC7FZkRW7nv0G6bgbWKi2D3+NPsTjbqRqKrYloLAQmxVZsZHfUU8jHuV/m+RzpPNoOsQjf3BddxMbKtBU5Wa6JmJXAgoLsVmRlWO/sfVFMeuMW0jn0XSIOdEEbKhAUR26JmJTAgoLsVmRlbuVArWPdMwtrDNIZ9KHeJOy/yOwKQGFhdisyMrdRIFBOubzLFPnks6k5RDv50gT3MaWOIoqUTYNexJQWIjNiiyAAuN20hEHWKa+QDqTlkO8hyNNcAdb4iiq9EXaJmFPAgoLsVmRBVBgXE86glUG4VxaDjEnmoQtcfTUom0StiSgsBCbFVnAl2hQm18Un8oqg3QuDYf4Tk40CXvi6KlF2yRsSUBhITYrsoC7aDBIfZewSN1NOpeGQ3wPR5qk+guL9NS6l7op2JKAwkJsVmQRNBj3kbr8L2ncTzqXhkPMiSZiUxg1isw4eDex48usqUOZQZiGWkUW8QAVauMfE1hjEM7mox3iAw8ewd8JNoVRo8jWuf8IR7CgDl0GYRpqFVmE/x3kB0g9V7FGPUQ6m3ZD7M0Jbz7n78Rdu1EYNYrMcZAVaw6yoApdBmEaahVZRPmf0r7CEvUg6WzaDfG1HGno4d3oDv52aNu3hrahRpF5xqb4EfIqdBmEaahVZCFUGJeROs5liXqUdDajQ/zY4088yV/m4ESCyP0PmCyKFkXmGnlhHPukkkGXQZiGWkUW8hQd6mlSBysMwrgnn3j8Mf7S5Q7xY189hoeqPcKJhlZvE3M/lkgWRYsi87HGeIa0Cl0GYRpqFVnI1+hQz5Ku8/9v9nXSGMbwsG/w0BpviNmzwqOVnuNIQ8+Tuf/6XyALokWR+VhjpHx5gi6DMA21iiyGDoNw3TdZoL5FGsEIrvCotT7ErB/4NkkVTiSIDh16kQcEWRAliszHGou0ClUGYRpqFVkMHcboi+IzWKAIA77DAA6QqLUhZrEiq8GJBNHIJ/nJgihRZD7WWKRVqDII01CryGJeokSNvigmNwjLMXzqu4RDZoi/x1KLOM6722jwBmseES+TxVCiyHyssUirUGUQpqFWkcX4Fwu+QrqGXH2fsBijZ/2AeMAMMQvXkYdxIvFDsh08oshi6FBkPtZYpFWoMgjTUKvIgigxCK2XidXGb1NvwOCtIx/QIWaZw/tdvAQnEkSHvcBDgiyGDkXmY41xXP/BbuQTcyO3Lrp/son+A/yIwXOw4hgZ4ldZ5WFJ0GucaGh4xdzNPCaq7gymQ5H5WGMcz19iG7tY8HJSg1RFLxJk7DyvsuQoGWIWuVgSdBFHGpI7dnhMPEUWQocic418y+54/mbH2MWCIy+KSVXJ2wAHfszYuVhz1HCIf8IaH4tiOJEg2sVjiiyECkXmYol1PH/beQctBqHyL4sMvveEofM9zqKV4RCzZASLQm7nRIJsl3szM1kIFYrMM3JZyPH8BqDD/IsF3VvfbyRUhKUYuhEsWpk+xD9lVYT35za9q8q9ELTm7U9UKDLHz1ixhrwOXQZhGmoVWZR/saD7kQUyFbyRbPOLgvgQ1/xWzInE62TgUUUWQYMiW3PQ/5DujvE3CpSgzCBMQ60iC6NGXUkoyFTwrmlGbgyrVgZD/AYrxrAsghMJohX3izlkETQoMnHem+PviM96LyxlBmEaahVZGDUG4dDPiRRhKUZuzBssw2CI32LFGJYF/IITCbIV99aNST8jwkdDrfILXj2UGYRpqFVkYf6fFQbfp1pxP0IZvUiQkRvzFsvQZIif5UhD9qNa7scIfkkYQEMt2ipRZhCmoVaRhfkXC/6KdIBEjXxFeStGbsz4EM/3coITiV+THcXjiiyAgkq/oa0SbQZhGmoVWRw9yvndhUSt/SpPxMiNGX85UfhqerrXOZEgO+a3BIIsgIJKlNWizSBMQ60ii/M/hU94zNsEirAYIzeGVSvThzj+Jba9nGjoVrJj3iERLxGWo6DOiZTVos4gTEOtIovzLxZce1HsvvslfJHgXF9iY1EAJxLOfZMkiqwc++vQVY06gzANtYqsAkXqXcKjeFy9RliOoRvBopXhEM/0bWf3p82QDZEosnLsr3IhXdXoMwjTUKvIKlCk1u6S4HFFFsDQ+TZ923njTpYEPM2JBNnQe0TiTcJi7K9CVT36DMI01CqyCv7FgoQrv+NhRRgQfgPQTG/F5EDint2rfxSZoqQY22vQlIBCgzANtYqsgn+x4HWk+D0Pi5qLBBk7z+a3Ym7YWfGmeE4UREkxtlegKAONBmEaahVZDZqUeVHMo6rmHYDhN8VvmGLygD9woqA/UlOK7XFpL4h3UGkQpqFWkdVwLxY0L4p5VJHFMHjryAfMEM/wQdH3OVHQi9SUYnscPSmoNAjTUKvIavgXCxLu+hMPisqLBBk9a/sHRUe2koVwojBqSrE76h1qclBqEKahVpHV8H+YsXwz7mweFLVvnmL41ISP7O9g8UDV5SnuG4VL0FOK3THvU5KFWoMwDbWKrApV6gbCI3hMVX1G8rDw5Sk7WL/Co0EfcKKw4Ifc2B3yNh1p6DUI01CryKq4FwvKx8B5TJHVYARXeNTyhjj1QkEOVIGiQmwOuIKGRDQbhGmoVWRV/IsFCQ87k4dE3UWCK4zhYUUXCh6RdbUrJ6pAUSE2lzrgfnysFuUGYRpqFVkdutSfCXe4n5A8mbBe6GrXRPdyogp/oaoMm4u8/85f2Z2MfoMwDbWKrA5d6m+EO/bxkCBrYO4hfogTVThAVRk2T7Y3/YXwAM9hEKahVpHVcS8WPJ9wB48osgbmHmIOVIWqMuxVZM3x9AZhGmoVWR33Ne+xavcrUOGLBMvNPMQjP9CvzJ2UFWGvImuOpzcI01CryCpRpo6+KL6cB8SWHwKdaeYhdt+ZVmpwBex07FVkzfH0BmEaahVZJfez6H8nPHQlDwiyFmYeYg5UibIibFVkzfH0BmEaahVZJfdiwX8Quk8cvUgwYt4h/icnqkRbEbYqsuZ4eoMwDbWKrNLDtClC9wPRwYsEQ+Yd4nc5UaXIVxzZqsia4+kNwjTUKrJatKnbdjP3DUIX72ZNzDvEHKgadSXYqcia4+kNwjTUKrJa7sWCvCjOvryp2EcwxGS+/SxShCXYqcia4+kNwjTUKrJaz1Mn9uxm/J0IXiQYM+sQv8mJxAeEI1ilNvwk1jHsVGTN8fQGYRpqFVk16tT4x8qCFwnGzDrE13AicQrhiEtZJgL/XbNTkTXH0xuEaahVZNWom4pdbcw6xBxIkY1xPxsd+HfCRkXWHE9vEKahVpFVG7uE3Be9SDBmziF2v/Qy+I67y7/A7kPS6dioyJrj6Q3CNNQqsmpn0TdN9CLBmDmH2P3MykmEo1intu5aw0ZF1hxPbxCmoVaR1aNvmuhFgjFzDjEHUo8SjvoXCxXhdOxTZM3x9AZhGmoVWT3/YsER7Gmk+RCTjfN/VDvhdOxTZM3x9AZhGmoVWb1/UzhF+CLBmBmH2L1OcS/hBqxUzxNOxj5F1hxPbxCmoVaR1fuQwiniFwmGzDjEeziRmHC3GivVHYSTsU+RNcfTG4RpqFVkCSicgh2tzDjEHEiRbfIflirCydimyJrj6Q3CNNQqsgTP0DgBO1qZb4jv50CKcBP/gkVzgd1WbFNkzfH0BmEaahVZgqtp3K7mIsGI+YbY/Wk6pxNuxFpVemk72xRZczy9QZiGWkWWgcbtUn6UcIH5hpgDqfsIN3qFxYpwKnYpsuZ4eoMwDbWKLIN7saCH9c3MNsT+z2cn3Mx/FzLhVOxSZM3x9AZhGmoVWYap7w6vvEiw3GxD7L636b+Em93CalX4UQF2KbLmeHqDMA21iiyD/+uyLuensBaYbYiv5UTiAsItWK32EU7ELkXWHE9vEKahVpGloHKb6osES802xBxITfzwvXuBXeEvB5sUWXM8vUGYhlpFlsL/dVnD6nbmGmL3kwBTj/cyy9XVpNOwSZE1x9MbhGmoVWQp/F8XK+ciwRJzDfFznEi8R7gV61XZnfFsUmTN8fQGYRpqFVkOOjfLu0hwqrmGmAOpyZemst4gnIY9iqw5nt4gTEOtIstB52asbWimIfb/IEu4nfsDpU74H+kk7FFkzfH0BmEaahVZDv/XxWBtQzMNsXth7fTj+d+yLrrOij2KrDme3iBMQ60iy+H/uqiGFwmuzPVyouua6UPcLV4f4m7x+hB3i9eHuFu8PsTd4vUh7havD3G3eH2Iu8XrQ9wtXh/ibvH6EHeL14e4W7w+xN3i9SHuFq8Pcbd4fYi7xetD3C1eH+Ju8foQd4vXh7hbvD7E3eL1Ie4Wrw9xt3CHDv0fPGk953pmVZgAAAAASUVORK5CYII='\n        logo.height = 45;\n        div1[0].style.margin = 'auto 10px auto auto';\n\n        div1.append(logo);\n\n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            flag = true;\n        }\n        addToToolbar();\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4b0b84a1.7f812c",
        "type": "ui_template",
        "z": "4a92841c.8244cc",
        "group": "dc5b6f65.657e5",
        "name": "Logo in toolbar",
        "order": 2,
        "width": 1,
        "height": 1,
        "format": "<script id=\"clockScript1\" type=\"text/javascript\">\n    var flag;\n    $(function () {\n        \n        if(flag) return;\n        \n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAsQAAACHCAMAAAAm2L9aAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAG2UExURQAAAP////Ly8uDg4M/Pz729vaurq5qamoiIiJeXl8zMzMvLy+Xl5aioqJiYmJKSks7OzsrKyunp6ZOTk/T09Lm5ubu7u/z8/O/v74GBgba2tqSkpLq6uv7+/pSUlN/f38bGxqWlpfj4+Nra2omJiYSEhKGhoefn59vb2/39/ZCQkMnJycLCwt3d3cXFxbS0tKCgoIyMjO3t7b6+vo2NjZaWlvHx8bCwsOzs7MjIyNfX14KCgp6entTU1NnZ2bi4uJWVlZubm4CAgPX19fv7+7+/v/b29re3t4ODg52dnYaGhtc3Feo8F/M/GOA6Fubm5sfHx/hAGNjY2KysrPr6+uLi4tM2FOTk5KamptXV1bOzs6qqquY7FuHh4ds4FdDQ0Nw5FeQ7Fq+vr/n5+c3Nzdk4FZGRkeI6Fus9F7GxsfQ/GOc8FuU7Fq6urqKiots5Fampqaenp+4+F7y8vPf398TExI+Pj+Pj4+jo6KOjo7KyssPDw9zc3J+fn9LS0q2trYeHh+vr65ycnNHR0Y6OjpmZmX9/f8HBwcDAwPPz84WFhX5+furq6rW1tdbW1vDw8IuLiwAAAGXg4G0AAACSdFJOU/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AJsmhUgAAAAlwSFlzAAAOwgAADsIBFShKgAAADrZJREFUeF7t3Xm7XEUVhXFJmEVmCBhAQAGZZBAiyhwBmUFEARVRcAAHQBwZHBBnnPKNvcl9Ozlr9z7dp3btUzznSf3+gl5VqymyCZ17u+t+7FDXLVwf4m7x+hB3i9eHuFu8PsTd4vUh7havD3G3eH2Iu8XrQ9wtXh/ibvH6EHeL14e4W7w+xN3i9SHuFq8Pcbd4fYi7xetD3C1eH+Ju8foQd4vXh7hbvD7E3eL1Ie4Wrw9xt3jNh/iErVhYibLt9uw98aSTTzmVbTUoTEBhITYrsjKnsdk4nXgLVhsfJ51BH+KjzvgEW6PoSUBhITYrskJstkg3O5PFxlnEM2g9xGdzpA3OYWkdygqdex7bI+hIQGEhNiuyQuez2yDd7BwWG6RzaD3EnGgjltahq9wFFJSjIAGFhdisyApdyG7jTOKN9rFYXUQ6hz7E6/ZSUYrtCSgsxGZFVuhidhuTXtey1vgk6RwaD/HJHGmj/SyuQlfMJZSUYXMCCguxWZGVYrdxKekml7HWIJ1F4yHmRFuwuApVUbQUYWsCCguxWZGV+hTbDdJNLmepQTqLPsQjAv/7Y2cCCguxWZGVuoLtxoQXxVeyVH2adBZth/gzHGkLVlehKu4qiqZjYwIKC7FZkRVjuzHhK0esNK4mnUXbIb6GI23xWZbXoKoCRdOxLwGFhdisyIqx3biWdNx1rDRI59F2iDnRViyvQVMNmiZjWwIKC7FZkRW7nv0G6bgbWKi2D3+NPsTjbqRqKrYloLAQmxVZsZHfUU8jHuV/m+RzpPNoOsQjf3BddxMbKtBU5Wa6JmJXAgoLsVmRlWO/sfVFMeuMW0jn0XSIOdEEbKhAUR26JmJTAgoLsVmRlbuVArWPdMwtrDNIZ9KHeJOy/yOwKQGFhdisyMrdRIFBOubzLFPnks6k5RDv50gT3MaWOIoqUTYNexJQWIjNiiyAAuN20hEHWKa+QDqTlkO8hyNNcAdb4iiq9EXaJmFPAgoLsVmRBVBgXE86glUG4VxaDjEnmoQtcfTUom0StiSgsBCbFVnAl2hQm18Un8oqg3QuDYf4Tk40CXvi6KlF2yRsSUBhITYrsoC7aDBIfZewSN1NOpeGQ3wPR5qk+guL9NS6l7op2JKAwkJsVmQRNBj3kbr8L2ncTzqXhkPMiSZiUxg1isw4eDex48usqUOZQZiGWkUW8QAVauMfE1hjEM7mox3iAw8ewd8JNoVRo8jWuf8IR7CgDl0GYRpqFVmE/x3kB0g9V7FGPUQ6m3ZD7M0Jbz7n78Rdu1EYNYrMcZAVaw6yoApdBmEaahVZRPmf0r7CEvUg6WzaDfG1HGno4d3oDv52aNu3hrahRpF5xqb4EfIqdBmEaahVZCFUGJeROs5liXqUdDajQ/zY4088yV/m4ESCyP0PmCyKFkXmGnlhHPukkkGXQZiGWkUW8hQd6mlSBysMwrgnn3j8Mf7S5Q7xY189hoeqPcKJhlZvE3M/lkgWRYsi87HGeIa0Cl0GYRpqFVnI1+hQz5Ku8/9v9nXSGMbwsG/w0BpviNmzwqOVnuNIQ8+Tuf/6XyALokWR+VhjpHx5gi6DMA21iiyGDoNw3TdZoL5FGsEIrvCotT7ErB/4NkkVTiSIDh16kQcEWRAliszHGou0ClUGYRpqFVkMHcboi+IzWKAIA77DAA6QqLUhZrEiq8GJBNHIJ/nJgihRZD7WWKRVqDII01CryGJeokSNvigmNwjLMXzqu4RDZoi/x1KLOM6722jwBmseES+TxVCiyHyssUirUGUQpqFWkcX4Fwu+QrqGXH2fsBijZ/2AeMAMMQvXkYdxIvFDsh08oshi6FBkPtZYpFWoMgjTUKvIgigxCK2XidXGb1NvwOCtIx/QIWaZw/tdvAQnEkSHvcBDgiyGDkXmY41xXP/BbuQTcyO3Lrp/son+A/yIwXOw4hgZ4ldZ5WFJ0GucaGh4xdzNPCaq7gymQ5H5WGMcz19iG7tY8HJSg1RFLxJk7DyvsuQoGWIWuVgSdBFHGpI7dnhMPEUWQocic418y+54/mbH2MWCIy+KSVXJ2wAHfszYuVhz1HCIf8IaH4tiOJEg2sVjiiyECkXmYol1PH/beQctBqHyL4sMvveEofM9zqKV4RCzZASLQm7nRIJsl3szM1kIFYrMM3JZyPH8BqDD/IsF3VvfbyRUhKUYuhEsWpk+xD9lVYT35za9q8q9ELTm7U9UKDLHz1ixhrwOXQZhGmoVWZR/saD7kQUyFbyRbPOLgvgQ1/xWzInE62TgUUUWQYMiW3PQ/5DujvE3CpSgzCBMQ60iC6NGXUkoyFTwrmlGbgyrVgZD/AYrxrAsghMJohX3izlkETQoMnHem+PviM96LyxlBmEaahVZGDUG4dDPiRRhKUZuzBssw2CI32LFGJYF/IITCbIV99aNST8jwkdDrfILXj2UGYRpqFVkYf6fFQbfp1pxP0IZvUiQkRvzFsvQZIif5UhD9qNa7scIfkkYQEMt2ipRZhCmoVaRhfkXC/6KdIBEjXxFeStGbsz4EM/3coITiV+THcXjiiyAgkq/oa0SbQZhGmoVWRw9yvndhUSt/SpPxMiNGX85UfhqerrXOZEgO+a3BIIsgIJKlNWizSBMQ60ii/M/hU94zNsEirAYIzeGVSvThzj+Jba9nGjoVrJj3iERLxGWo6DOiZTVos4gTEOtIovzLxZce1HsvvslfJHgXF9iY1EAJxLOfZMkiqwc++vQVY06gzANtYqsAkXqXcKjeFy9RliOoRvBopXhEM/0bWf3p82QDZEosnLsr3IhXdXoMwjTUKvIKlCk1u6S4HFFFsDQ+TZ923njTpYEPM2JBNnQe0TiTcJi7K9CVT36DMI01CqyCv7FgoQrv+NhRRgQfgPQTG/F5EDint2rfxSZoqQY22vQlIBCgzANtYqsgn+x4HWk+D0Pi5qLBBk7z+a3Ym7YWfGmeE4UREkxtlegKAONBmEaahVZDZqUeVHMo6rmHYDhN8VvmGLygD9woqA/UlOK7XFpL4h3UGkQpqFWkdVwLxY0L4p5VJHFMHjryAfMEM/wQdH3OVHQi9SUYnscPSmoNAjTUKvIavgXCxLu+hMPisqLBBk9a/sHRUe2koVwojBqSrE76h1qclBqEKahVpHV8H+YsXwz7mweFLVvnmL41ISP7O9g8UDV5SnuG4VL0FOK3THvU5KFWoMwDbWKrApV6gbCI3hMVX1G8rDw5Sk7WL/Co0EfcKKw4Ifc2B3yNh1p6DUI01CryKq4FwvKx8B5TJHVYARXeNTyhjj1QkEOVIGiQmwOuIKGRDQbhGmoVWRV/IsFCQ87k4dE3UWCK4zhYUUXCh6RdbUrJ6pAUSE2lzrgfnysFuUGYRpqFVkdutSfCXe4n5A8mbBe6GrXRPdyogp/oaoMm4u8/85f2Z2MfoMwDbWKrA5d6m+EO/bxkCBrYO4hfogTVThAVRk2T7Y3/YXwAM9hEKahVpHVcS8WPJ9wB48osgbmHmIOVIWqMuxVZM3x9AZhGmoVWR33Ne+xavcrUOGLBMvNPMQjP9CvzJ2UFWGvImuOpzcI01CryCpRpo6+KL6cB8SWHwKdaeYhdt+ZVmpwBex07FVkzfH0BmEaahVZJfez6H8nPHQlDwiyFmYeYg5UibIibFVkzfH0BmEaahVZJfdiwX8Quk8cvUgwYt4h/icnqkRbEbYqsuZ4eoMwDbWKrNLDtClC9wPRwYsEQ+Yd4nc5UaXIVxzZqsia4+kNwjTUKrJatKnbdjP3DUIX72ZNzDvEHKgadSXYqcia4+kNwjTUKrJa7sWCvCjOvryp2EcwxGS+/SxShCXYqcia4+kNwjTUKrJaz1Mn9uxm/J0IXiQYM+sQv8mJxAeEI1ilNvwk1jHsVGTN8fQGYRpqFVk16tT4x8qCFwnGzDrE13AicQrhiEtZJgL/XbNTkTXH0xuEaahVZNWom4pdbcw6xBxIkY1xPxsd+HfCRkXWHE9vEKahVpFVG7uE3Be9SDBmziF2v/Qy+I67y7/A7kPS6dioyJrj6Q3CNNQqsmpn0TdN9CLBmDmH2P3MykmEo1intu5aw0ZF1hxPbxCmoVaR1aNvmuhFgjFzDjEHUo8SjvoXCxXhdOxTZM3x9AZhGmoVWT3/YsER7Gmk+RCTjfN/VDvhdOxTZM3x9AZhGmoVWb1/UzhF+CLBmBmH2L1OcS/hBqxUzxNOxj5F1hxPbxCmoVaR1fuQwiniFwmGzDjEeziRmHC3GivVHYSTsU+RNcfTG4RpqFVkCSicgh2tzDjEHEiRbfIflirCydimyJrj6Q3CNNQqsgTP0DgBO1qZb4jv50CKcBP/gkVzgd1WbFNkzfH0BmEaahVZgqtp3K7mIsGI+YbY/Wk6pxNuxFpVemk72xRZczy9QZiGWkWWgcbtUn6UcIH5hpgDqfsIN3qFxYpwKnYpsuZ4eoMwDbWKLIN7saCH9c3MNsT+z2cn3Mx/FzLhVOxSZM3x9AZhGmoVWYap7w6vvEiw3GxD7L636b+Em93CalX4UQF2KbLmeHqDMA21iiyD/+uyLuensBaYbYiv5UTiAsItWK32EU7ELkXWHE9vEKahVpGloHKb6osES802xBxITfzwvXuBXeEvB5sUWXM8vUGYhlpFlsL/dVnD6nbmGmL3kwBTj/cyy9XVpNOwSZE1x9MbhGmoVWQp/F8XK+ciwRJzDfFznEi8R7gV61XZnfFsUmTN8fQGYRpqFVkOOjfLu0hwqrmGmAOpyZemst4gnIY9iqw5nt4gTEOtIstB52asbWimIfb/IEu4nfsDpU74H+kk7FFkzfH0BmEaahVZDv/XxWBtQzMNsXth7fTj+d+yLrrOij2KrDme3iBMQ60iy+H/uqiGFwmuzPVyouua6UPcLV4f4m7x+hB3i9eHuFu8PsTd4vUh7havD3G3eH2Iu8XrQ9wtXh/ibvH6EHeL14e4W7w+xN3i9SHuFq8Pcbd4fYi7xetD3C1eH+Ju8foQd4vXh7hbvD7E3eL1Ie4Wrw9xt3CHDv0fPGk953pmVZgAAAAASUVORK5CYII='\n        logo.height = 45;\n        div1[0].style.margin = 'auto 10px auto auto';\n\n        div1.append(logo);\n\n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            flag = true;\n        }\n        addToToolbar();\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 100,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf54649.ef74e8",
        "type": "ui_ui_control",
        "z": "4a92841c.8244cc",
        "name": "",
        "events": "connect",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "5b1a7f31.bc8a"
            ]
        ]
    },
    {
        "id": "d843b52c.7c7648",
        "type": "http request",
        "z": "4a92841c.8244cc",
        "name": "Fetch releases",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 760,
        "wires": [
            [
                "54f9f61f.092c18"
            ]
        ]
    },
    {
        "id": "83957df4.9835",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Set request flag for github",
        "func": "var product = RED.util.cloneMessage(global.get('PRODUCT_INFO'));\nvar prct;\nvar temp = {};\n\nif(product.PRODUCT === \"Factory\")\n    prct = \"kiosk_default\";\nelse if(product.PRODUCT === \"GCP\")\n    prct = \"kiosk_gcp\";\nelse if(product.PRODUCT === \"PBM\")\n    prct = \"kiosk_pbm\";\n\ntemp.headers = {};\ntemp.headers['User-Agent'] = 'request';\ntemp.url = \"https://api.github.com/repos/guillaumetournabien/\" + prct + \"/releases\"\nreturn temp;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 760,
        "wires": [
            [
                "d843b52c.7c7648"
            ]
        ]
    },
    {
        "id": "54f9f61f.092c18",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "Extract Version, Changes, Date and URL",
        "func": "var updates = {};\nupdates.payload = [];\n\nmsg.payload.forEach(function(item,index){\n    updates.payload[index] = {\"Version\":item.tag_name, \"Changes\":item.body, \"Published_Date\":item.published_at, \"URL_Download\":item.zipball_url};\n    updates.payload[index].Published_Date = updates.payload[index].Published_Date.slice(0,10);\n    updates.payload[index].Changes = updates.payload[index].Changes.split('*');\n    updates.payload[index].Changes.shift();\n});\n\nflow.set('Updates',updates.payload);\n\nreturn updates;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 760,
        "wires": [
            [
                "b29472be.afbe8"
            ]
        ]
    },
    {
        "id": "5b1a7f31.bc8a",
        "type": "switch",
        "z": "4a92841c.8244cc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 760,
        "wires": [
            [
                "83957df4.9835"
            ]
        ]
    },
    {
        "id": "b29472be.afbe8",
        "type": "function",
        "z": "4a92841c.8244cc",
        "name": "",
        "func": "var vers = RED.util.cloneMessage(global.get('SW_VERSION'));\nvar temp = {};\ntemp.payload = {};\n\n\nif(msg.payload[0].Version != vers.VERSION)\n{\n    temp.payload = \"New update available, please head over the update tab !\";\n    return temp;\n}\n\n\n\n\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 760,
        "wires": [
            [
                "a4d34543.83e488"
            ]
        ]
    },
    {
        "id": "a4d34543.83e488",
        "type": "ui_toast",
        "z": "4a92841c.8244cc",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1330,
        "y": 760,
        "wires": []
    }
]